[user]
	name = Inês Costa
	email = 94355111+inesiscosta@users.noreply.github.com
	signingkey = {{ onepasswordRead "op://Private/Chezmoi/GitSigningKey" }}
[commit]
	gpgSign = true
[init]
	defaultBranch = main
